body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f8;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    margin-bottom: 5px;
}

p {
    margin-bottom: 30px;
    color: #555;
}

.card {
    width: 90%;
    max-width: 350px;
}

.btn {
    display: block;
    padding: 20px;
    margin: 15px 0;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 10px;
}

.restaurant {
    background: #e74c3c;
}

.resort {
    background: #3498db;
}

.page {
    padding: 30px;
    text-align: center;
}

form {
    max-width: 300px;
    margin: auto;
}

input, button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
}

.back {
    display: block;
    margin-top: 20px;
    text-decoration: none;
}



select {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
}
